In [16]:
import pymongo as mg
import pandas as pd
client = mg.MongoClient(host='mongodb://localhost:27017')
database = client['db_NHIS']
collection = database['merged_collection6']

In [23]:
cursor = collection.find({})

NameError: name 'SICK_SYM1' is not defined

In [18]:
list_D20 = list(cursor)

In [19]:
df_D20 = pd.DataFrame(list_D20)
df_D20

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY
0,64e6c14fe04b422536ad251f,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,0,1,1,3,5.0,0.15,10590,3000,7590,2002
1,64e6c14fe04b422536ad2520,294364,1921LE,200707.0,T08-T14,W00-W19,2002090466395,63715,20020910,3,...,0,1,1,2,5.0,0.15,16520,4950,11570,2002
2,64e6c14fe04b422536ad2521,294364,1921LE,200707.0,T08-T14,W00-W19,2002091053122,63715,20020909,3,...,0,3,3,3,5.0,0.15,27620,9000,18620,2002
3,64e6c14fe04b422536ad2522,294364,1921LE,200707.0,T08-T14,W00-W19,2002020488631,23506,20020208,3,...,0,1,1,3,5.0,0.15,12920,3000,9920,2002
4,64e6c14fe04b422536ad2523,294364,1921LE,200707.0,T08-T14,W00-W19,2002060822342,23506,20020628,3,...,0,1,1,0,5.0,0.15,14230,3000,11230,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137158,64e6c178e04b422536af3cf7,3000758,2015,NaN,NaN,NaN,2015050998151,79884,20150506,3,...,0,2,1,0,1.0,0.15,11280,2300,8980,2015
137159,64e6c178e04b422536af3cf8,3000758,2015,NaN,NaN,NaN,2015031024807,79884,20150307,3,...,0,2,1,0,1.0,0.15,19640,3700,15940,2015
137160,64e6c178e04b422536af3cf9,3000758,2015,NaN,NaN,NaN,2015050363901,79884,20150526,3,...,0,2,1,0,1.0,0.15,13470,2800,10670,2015
137161,64e6c178e04b422536af3cfa,3000758,2015,NaN,NaN,NaN,2015040129477,79884,20150425,3,...,0,2,1,0,1.0,0.15,13530,2600,10930,2015
137162,64e6c178e04b422536af3cfb,3000758,2015,NaN,NaN,NaN,2015092341857,122565,20150927,3,...,0,3,1,0,1.0,0.25,21730,6800,14930,2015