In [38]:
import pymongo as mg
import pandas as pd
client = mg.MongoClient(host='mongodb://localhost:27017')
database = client['db_NHIS']
collection = database['merged_collection6']

In [60]:
cursor = collection.find({})

In [61]:
list_D20 = list(cursor)

#### 고혈압환자 분석
- 목표변수: 고혈압환자
- 설명변수: 나이, 병원방문경로(FORM_CD), 입원기간(VSHSP_DD_CNT), 수술여부(OPRTN_YN), 진료결과(MCARE_RSLT_TYPE)

In [62]:
df_D20 = pd.DataFrame(list_D20)
df_D20

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY
0,64e6c14fe04b422536ad251f,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,0,1,1,3,5.0,0.15,10590,3000,7590,2002
1,64e6c14fe04b422536ad2520,294364,1921LE,200707.0,T08-T14,W00-W19,2002090466395,63715,20020910,3,...,0,1,1,2,5.0,0.15,16520,4950,11570,2002
2,64e6c14fe04b422536ad2521,294364,1921LE,200707.0,T08-T14,W00-W19,2002091053122,63715,20020909,3,...,0,3,3,3,5.0,0.15,27620,9000,18620,2002
3,64e6c14fe04b422536ad2522,294364,1921LE,200707.0,T08-T14,W00-W19,2002020488631,23506,20020208,3,...,0,1,1,3,5.0,0.15,12920,3000,9920,2002
4,64e6c14fe04b422536ad2523,294364,1921LE,200707.0,T08-T14,W00-W19,2002060822342,23506,20020628,3,...,0,1,1,0,5.0,0.15,14230,3000,11230,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137158,64e6c178e04b422536af3cf7,3000758,2015,NaN,NaN,NaN,2015050998151,79884,20150506,3,...,0,2,1,0,1.0,0.15,11280,2300,8980,2015
137159,64e6c178e04b422536af3cf8,3000758,2015,NaN,NaN,NaN,2015031024807,79884,20150307,3,...,0,2,1,0,1.0,0.15,19640,3700,15940,2015
137160,64e6c178e04b422536af3cf9,3000758,2015,NaN,NaN,NaN,2015050363901,79884,20150526,3,...,0,2,1,0,1.0,0.15,13470,2800,10670,2015
137161,64e6c178e04b422536af3cfa,3000758,2015,NaN,NaN,NaN,2015040129477,79884,20150425,3,...,0,2,1,0,1.0,0.15,13530,2600,10930,2015
137162,64e6c178e04b422536af3cfb,3000758,2015,NaN,NaN,NaN,2015092341857,122565,20150927,3,...,0,3,1,0,1.0,0.25,21730,6800,14930,2015

In [63]:
# df_D20.to_csv('./NSC2_D20.csv')

In [64]:
df_D20[['SICK_SYM1']]

       SICK_SYM1
0           L028
1           J030
2           J030
3           K291
4           M545
...          ...
137158      J209
137159      J209
137160      J209
137161      J209
137162       J00

[137163 rows x 1 columns]

In [65]:
# condition = (df_D20['SICK_SYM1'] == 'I10')
df_D20_hyper = df_D20[df_D20['SICK_SYM1'] == 'I10']
df_D20_hyper

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY
190,64e6c14fe04b422536ad25dd,646257,1921LE,200805.0,A15-A19,NaN,2002070306096,57097,20020710,3,...,0,1,1,30,5.0,0.15,7570,3000,4570,2002
195,64e6c14fe04b422536ad25e2,646257,1921LE,200805.0,A15-A19,NaN,2002080588993,57097,20020805,3,...,0,2,2,60,5.0,0.15,18160,6000,12160,2002
197,64e6c14fe04b422536ad25e4,646257,1921LE,200805.0,A15-A19,NaN,2002100841957,57097,20021017,3,...,0,1,1,30,5.0,0.15,7570,3000,4570,2002
284,64e6c14fe04b422536ad263b,646257,1921LE,200805.0,A15-A19,NaN,2007101419963,75196,20071008,3,...,0,1,1,7,1.0,0.15,14200,4200,10000,2007
769,64e6c14fe04b422536ad2820,966199,1921LE,201409.0,J69,NaN,2004030950967,44114,20040312,3,...,0,1,1,7,5.0,0.15,7310,1500,5810,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124484,64e6c178e04b422536af0b75,314882,2005,NaN,NaN,NaN,2005120635229,110842,20051220,3,...,0,1,1,30,1.0,0.15,9050,3000,6050,2005
124485,64e6c178e04b422536af0b76,314882,2005,NaN,NaN,NaN,2005060585142,110842,20050614,3,...,0,1,1,30,1.0,0.15,9050,3000,6050,2005
124486,64e6c178e04b422536af0b77,314882,2005,NaN,NaN,NaN,2005070407648,110842,20050716,3,...,0,1,1,30,1.0,0.15,9050,3000,6050,2005
124495,64e6c178e04b422536af0b80,314882,2005,NaN,NaN,NaN,2006010136092,110842,20060123,3,...,0,1,1,30,1.0,0.15,9380,3000,6380,2006
124590,64e6c178e04b422536af0bdf,314882,2005,NaN,NaN,NaN,2010110318764,127359,20101125,3,...,0,1,1,30,1.0,0.15,12280,1500,10780,2010